<div data-slot="card-header" class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6">
  <div data-slot="card-title" class="leading-none font-semibold">
    <%= t(".title") %>
  </div>
  <div data-slot="card-description" class="text-muted-foreground text-sm">
    <%= t(".subtitle") %>
  </div>
</div>

<div data-slot="card-content" class="px-6">
  <%= simple_form_for(@user, url: session_url, class: "contents") do |form| %>
    <div class="flex flex-col">
      <%= render(Components::Form::EmailField.new(form, :email_address)) %>

      <%= render(Components::Form::PasswordField.new(form, :password)) %>

      <%= render(Components::Form::SubmitButton.new(form, label: "Login")) %>

      <%# <div class="mt-4 text-center text-sm">
        Don't have an account?
        <a href="#" class="underline underline-offset-4">Sign up</a>
      </div> %>
    <% end %>
  </div>
</div>
