<%= render(Components::PageTitle::Form.new(record: company, back_url: companies_path)) %>

<div class="flex flex-col gap-4 p-4 md:gap-6 md:p-6">
  <%= form_for(company) do |form| %>
    <%= render(RubyUI::Heading.new(level: 3, class: "mb-2") { tm(Company) }) %>
    <%= render(Components::Form::TextField.new(form, :name)) %>

    <div class="grid grid-cols-2 gap-4">
      <%= render(Components::Form::TextField.new(form, :nif)) %>
      <%= render(Components::Form::EnumSelect.new(form, :industry)) %>
    </div>
    <%#= render(Components::Form::EnumSelect.new(form, :disabled)) %>

    <%= render(RubyUI::Heading.new(level: 3, class: "mb-2") { tm(Address) }) %>
    <%= form.fields_for(:address) do |f| %>
      <%= render("addresses/nested_form", form: f) %>
    <% end %>

    <%= render(Components::Form::SubmitButton.new(form)) %>
  <% end %>
</div>
