<%= render(Components::PageTitle::Form.new(record: product, back_url: products_path)) %>

<div class="flex flex-col gap-4 p-4 md:gap-6 md:p-6">
  <%= form_for(product) do |form| %>
    <%= render(Components::Form::BelongsToField.new(form, :category, collection: current_categories.pluck(:title, :id))) %>
    <%= render(Components::Form::TextField.new(form, :title)) %>
    <%= render(Components::Form::TextAreaField.new(form, :description)) %>

    <%= render(RubyUI::Heading.new(level: 3, class: "mb-2") { tm(ProductVariant) }) %>
    <%= form.fields_for(:variants) do |f| %>
      <%= render("product_variants/nested_form", form: f) %>
    <% end %>

    <%= render(Components::Form::SubmitButton.new(form)) %>
  <% end %>
</div>
